<!DOCTYPE html>
<html>
<head>
    <title>URLs</title>
</head>
<body>
    <h1>URLs</h1>
    <ul>
        <li><a href="{% url 'book-list' %}">Book List</a></li>
        <li><a href="{% url 'book-create' %}">Create Book</a></li>
        <li><a href="{% url 'book-detail' pk=1 %}">Book Detail</a></li>
        <li><a href="{% url 'book-update' pk=1 %}">Update Book</a></li>
        <li><a href="{% url 'book-delete' pk=1 %}">Delete Book</a></li>
        <li><a href="{% url 'author-list' %}">Author List</a></li>
        <li><a href="{% url 'authors-create' %}">Create Author</a></li>
        <li><a href="{% url 'author-detail' pk=1 %}">Author Detail</a></li>
        <li><a href="{% url 'author-update' pk=1 %}">Update Author</a></li>
        <li><a href="{% url 'author-delete' pk=1 %}">Delete Author</a></li>
        <li><a href="{% url 'user-register' %}">User Registration</a></li>
        <li><a href="{% url 'token_obtain_pair' %}">Token Obtain Pair</a></li>
        <li><a href="{% url 'mono_callback' %}">Monobank Callback</a></li>
        <li><a href="{% url 'order-view' %}">Order View</a></li>
        <li><a href="{% url 'orders-list' %}">Orders List</a></li>
    </ul>
</body>
</html>
