<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <figure>
        <blockquote class="blockquote">
            <p>API links for a book store</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Regarding the additional information you provided, if you want to add an index to the lists for deletion and
            update requests, you can include the index of the book or author in the URLs. <cite title="Source Title">For
            example:

            Update Book with index 1: https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/books/update/1/</cite>
        </figcaption>
    </figure>
</head>

<div class="list-group">

    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/books/"
       class="list-group-item list-group-item-action list-group-item-primary">Book List</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/books/create/"
       class="list-group-item list-group-item-action list-group-item-primary">Create Book</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/books/update/"
       class="list-group-item list-group-item-action list-group-item-primary">Update Book </a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/books/delete/"
       class="list-group-item list-group-item-action list-group-item-primary">Delete Book</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/authors/"
       class="list-group-item list-group-item-action list-group-item-success">Author List</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/authors/create/"
       class="list-group-item list-group-item-action list-group-item-success">Create Author</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/authors/update/"
       class="list-group-item list-group-item-action list-group-item-success">Update Author</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/authors/delete/"
       class="list-group-item list-group-item-action list-group-item-success">Delete Author</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/users/register/"
       class="list-group-item list-group-item-action list-group-item-danger">User Registration</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/users/token/"
       class="list-group-item list-group-item-action list-group-item-danger">Token Obtain Pair</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/order/"
       class="list-group-item list-group-item-action list-group-item-info">Order View</a>
    <a href="https://cryptic-garden-19358-66c5851b2ced.herokuapp.com/api/orders/"
       class="list-group-item list-group-item-action list-group-item-info">Orders List</a>
</div>
</body>
</html>